name: black-check
on:
  pull_request:
      branches:
        - master

jobs:
  format:
    runs-on: windows-latest
    steps:
      - name: Checkout the repository
        shell: bash
        run: |
          prnum=$(python -c "import json;print(json.load(open(r'${GITHUB_EVENT_PATH}'))['number'])")
          git init
          git remote add origin https://github.com/naveen521kk/manim.git
          git fetch origin pull/${prnum}/head:pr-${prnum}
          git checkout pr-${prnum}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install black
        run: pip install black
        
      - name: Get files
        id: files-changes-in-pr
        shell: powershell
        run: |
          #echo "$(gc "$env:GITHUB_EVENT_PATH")"
          $payload = gc "$env:GITHUB_EVENT_PATH" | ConvertFrom-Json
          $commitEndpoint=$($payload.pull_request._links.commits.href)
          echo "$commitEndpoint"
          $commits = Invoke-WebRequest -Uri "$commitEndpoint" | ConvertFrom-Json
          $startCommitSha = $commits[0].sha
          $endCommitSha = $commits[$commits.count - 1].sha
          bash -c "git diff --name-only HEAD HEAD~$($commits.count)>/d/changes.txt"
          
      - name: Format files if not already
        shell: bash
        run: |
          printf "Checking Files"
          printf $(</d/changes.txt)
          printf "\n"
          content=$(</d/changes.txt)
          while read file
          do
            if [ $(python -c "print('${file}'[-2:])") == "py" ]
            then
              black --diff $file
            fi
          done </d/changes.txt
      
      - name: Check File and Report the Files Not formatted
        shell: bash
        run: |
          git diff-index --quiet HEAD --
          changed=$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi)
          echo $changed
          if [ ${changed} == "true" ]
          then
              printf 'Files are not Formated.'
              printf 'The Filed changed are \n\n $(git ls-files -m)'
              exit 1
          else
              printf 'Files Are Formatted '
          fi
