name: black-check
on:
  pull_request:
      branches:
        - master

jobs:
  format:
    runs-on: windows-latest
    steps:
      - name: Checkout the repository
        shell: bash
        run: |
          prnum=$(python -c "import json;print(json.load(open(r'${GITHUB_EVENT_PATH}'))['number'])")
          git init
          git remote add origin https://github.com/naveen521kk/manim.git
          git fetch origin pull/${prnum}/head:pr-${prnum}
          git checkout pr-${prnum}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install black
        run: pip install black
        
      - name: Get files
        id: files-changes-in-pr
        shell: powershell
        run: |
          #echo "$(gc "$env:GITHUB_EVENT_PATH")"
          $payload = gc "$env:GITHUB_EVENT_PATH" | ConvertFrom-Json
          $commitEndpoint=$($payload.pull_request._links.commits.href)
          echo "$commitEndpoint"
          $commits = Invoke-WebRequest -Uri "$commitEndpoint" | ConvertFrom-Json
          $startCommitSha = $commits[0].sha
          $endCommitSha = $commits[$commits.count - 1].sha
          bash -c "git diff --name-only HEAD HEAD~$($commits.count)>/d/changes.txt"
          
      - name: Check file formatting
        shell: powershell
        run: |
          echo $(gc "D:/changes.txt")
          foreach ($c in (gc "D:/changes.txt").split()){
            if ($c.endswith(".py")){
                black $c 2>&1 | %{ "$_" } >out.txt
            }
          }
          if ($(bash -c "if git diff-index --quiet HEAD --; then echo 'false'; else echo 'true'; fi") -eq "true"){
            echo "Files are not Formated."
            echo "The Filed changed are `n $(bash -c 'git ls-files -m')"
            exit 1
          }
