name: black-check
on:
  pull_request:
      branches:
        - master

jobs:
  format:
    runs-on: windows-latest
    steps:
      - name: Checkout the repository
        shell: bash
        run: |
          $payload = gc "$env:GITHUB_EVENT_PATH" | ConvertFrom-Json
          git init
          git remote add origin https://github.com/naveen521kk/manim.git
          git fetch origin "pull/$($payload.number)/head":"pr-$($payload.number)"
          git checkout "pr-$($payload.number)"

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install black
        run: pip install black
        
      - name: Get files
        id: files-changes-in-pr
        shell: powershell
        run: |
          #echo "$(gc "$env:GITHUB_EVENT_PATH")"
          $payload = gc "$env:GITHUB_EVENT_PATH" | ConvertFrom-Json
          $commitEndpoint=$($payload.pull_request._links.commits.href)
          echo "$commitEndpoint"
          $commits = Invoke-WebRequest -Uri "$commitEndpoint" | ConvertFrom-Json
          $startCommitSha = $commits[0].sha
          $endCommitSha = $commits[$commits.count - 1].sha
          bash -c "git diff --name-only HEAD HEAD~$($commits.count - 1)>/d/changes.txt"
          
      - name: Check file formatting
        shell: powershell
        run: |
          foreach ($c in (gc "D:/changes.txt").split()){
            if ($c.endswith(".py")){
              black "$c"
            }
          }
